/*
 * created by 27 on 24th Apr 2017
 */

/* - - - - - - - - - - - - - - - - - - - - general styles - - - - */
body{
    font-family: 'Montserrat', sans-serif;
}
@media(min-width: 1400px){
    .container{
        width: 1284px;
    }
}
/* - - - - - - - - - - - - - - - - - - - - header section - - - - */
.header-section{
    padding: 18px 0px;
    position: fixed;
    top: 0px;
    width: 100%;
}
.header-section .container{
    position: relative;
    z-index: 2;
}
.header-bg-color{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 73px;
    background-color: white;
    z-index: 1;
}
.site-logo{
    text-align: center;
    float: left;
}
.nav a{
    text-transform: uppercase;
}
.navbar{
    margin-bottom: 0px;
}
.navbar-nav>li>a{
    font-weight: 600;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-collapse{
    border-color: transparent;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-nav>li>a, .dropdown-menu>li>a {
    text-align: center;
}
.nav .caret{
    margin-top: -3px;
    border-top: 6px dashed;
    border-top: 6px solid\9;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    color: #a91e2e;
}
.nav .open .caret{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
@media(max-width: 767px){
    .header-section {
        padding-bottom: 0px;
    }
    .container-fluid>.navbar-header {
        margin-bottom: 17px;
    }
    .nav>li>a{
        background-color: #383838;
    }
    .dropdown hr{
        display: inline-block !important;
        width: 20px;
        position: absolute;
        top: 9px;
        right: 30px;
    }
    .plus-vert{
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    .open .plus-vert{
        display: none !important;
    }
    .dropdown-menu{
        padding: 0px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        background-color: rgba(56,56,56,0.5);
        color: #fff;
    }
    .navbar-default .navbar-nav>li>a {
        color: #d7d7d7;
    }
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
        background-color: #383838;
    }
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:focus,
    .navbar-default .navbar-nav>.open>a:hover {
        color: #fff;
        background-color: rgba(56,56,56,0.8);
    }
    .navbar-nav {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .navbar-default .navbar-collapse {
        margin-left: -31px;
        margin-right: -31px;
        max-height: calc(100vh - 73px);
    }
    .navbar-nav>li>a, .navbar-nav .open .dropdown-menu>li>a {
        border-bottom: 1px solid #b5b5b5;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media(min-width: 768px){
    .header-section{
        background-color: #f9f9f9;
        box-shadow: 0px 2px 15px #bbb;
        -webkit-box-shadow: 0px 2px 15px #bbb;
    }
    .navbar .container-fluid{
        padding: 0px;
    }
    .navbar-default {
        display: inline-block;
        float: right;
    }
    .dropdown-menu>li>a {
        text-align: left;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .site-logo{
        width: 26%;
        margin-top: 3px;
    }
    .navbar {
        min-height: inherit;
    }
    .navbar-nav>li {
        font-size: 13px;
    }
    .nav>li>a {
        padding: 10px 8px;
    }
}
@media(min-width: 1200px){
    .navbar-nav>li {
        font-size: 18px;
    }
}
/* Navigation - Hamburger animation
 * credits: Jesse Couch
 * link: https://codepen.io/designcouch/pen/Atyop
 */
#nav-icon1{
    width: 52px;
    height: 35px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon1 span{
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: #a91e2e;;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
    top: 0px;
}
#nav-icon1 span:nth-child(2) {
    top: 13px;
}
#nav-icon1 span:nth-child(3) {
    top: 26px;
}
#nav-icon1.open span:nth-child(1) {
    top: 13px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
#nav-icon1.open span:nth-child(3) {
    top: 13px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
/* Animating dropdown menu
 * credits: Orizens
 * link: https://gist.github.com/orizens/4994397
 */
@media(min-width: 768px){
    .open > .dropdown-menu {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity:1;
    }
    .dropdown-menu {
        opacity:.3;
        -webkit-transform-origin: top;
        transform-origin: top;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-transform: scale(1, 0);
        transform: scale(1, 0);
        display: block;
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
    }
}

/* - - - - - - - - - - - - - - - - - - - - banner section - - - - */

.banner-section{
    height: 400px;
    background-color: pink;
    margin-top: 73px;
}
.banner-section .container{
    max-width: 1920px;
    height: 770px;
    width: 100%;
    padding: 0px;
}
@media(min-width: 768px){
    .banner-section{
        margin-top: 83px;
    }
}
@media(min-width: 768px) and (max-width: 991px){

}
@media(min-width: 992px){
    .banner-section{
        margin-top: 91px;
    }
}
@media(min-width: 1200px){

}